<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
    <title>Document</title>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.8.2/lib/index.js"></script>

</head>

<body>
    <div id="app">
        <template>
            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAll">全选
            </el-checkbox>
            <div v-for="group in groups">
                <el-checkbox :indeterminate="group.isIndeterminate" v-model="group.checkAll"
                    @change="handleGroupAllChange(arguments,group)">全选
                </el-checkbox>
                <div style="margin: 15px 0;"></div>
                <el-checkbox-group v-model="group.checkedOptions" @change="handleCheckedOption(arguments,group)">
                    <el-checkbox v-for="option in group.options" :label="option" :key="option">{{option}}
                    </el-checkbox>
                </el-checkbox-group>
            </div>
        </template>



    </div>
    <script>
        const cityOptions = ['上海', '北京', '广州', '深圳'];
        var Main = {
            data() {
                return {
                    checkAll: false,
                    checkedCities: ['上海', '北京'],
                    cities: cityOptions,
                    isIndeterminate: false,
                    groups: [{
                        label: "城市",
                        options: ["北京", "上海", "广州"],
                        checkedOptions: [],
                        checkAll: false,
                        isIndeterminate: false,
                    },
                    {
                        label: "书籍",
                        options: ["简爱", "狼性的呼唤", "人间正道是沧桑"],
                        checkedOptions: [],
                        checkAll: false,
                        isIndeterminate: false,
                    },


                    ]
                };
            },
            methods: {
                handleCheckAll(val) {
                    var isAllchecked = this.groups.every(group => group.options.length == group.checkedOptions.length);
                    // if (isAllchecked) { alert(1) }
                    this.groups.forEach(group => {
                        group.checkedOptions = isAllchecked ? [] : Object.assign(group.options);
                        group.checkAll = !isAllchecked;

                    });
                    this.checkAll = !isAllchecked;
                    this.isIndeterminate = false;
                    this.refershInteral()
                },
                refershInteral() {

                    var isAllchecked = this.groups.every(group => group.options.length == group.checkedOptions.length);
                    // alert(isAllchecked)
                    var isSomeChecked = this.groups.some(group => group.checkedOptions.length > 0);
                    if (!isAllchecked && isSomeChecked) {
                        this.isIndeterminate = true;
                    }
                    if (isSomeChecked) {
                        this.checkAll = false;
                        this.isIndeterminate = true;
                        // alert(1)
                    } else {
                        this.isIndeterminate = false;
                    }
                    if (isAllchecked) {
                        this.isIndeterminate = false;
                        // alert(1)
                        this.checkAll = true;
                    }


                },


                handleGroupAllChange(val, group) {
                    group.checkedOptions = val[0] ? group.options : [];
                    group.isIndeterminate = false;
                    this.refershInteral()
                },
                handleCheckedOption(val, group) {
                    // console.log(val, group);
                    let checkedCount = val[0].length;
                    if (val[0].length == group.options.length) {
                        group.isIndeterminate = false;
                        group.checkAll = true;
                    } else {
                        group.checkAll = false;
                        group.isIndeterminate = checkedCount > 0 && checkedCount < group.options.length;
                    }
                    this.refershInteral()
                }
            }
        };
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    </script>
</body>

</html>